@charset "utf-8";

.to-red {
    color: red;
    transition-duration: 2.5s;
    transition-delay: 1.0s; /* 1秒後に開始 */
    transition-timing-function: ease-out;
    /*transition: でまとめて指定できる*/
}
.fadein {
    /* position: absolute;
    top: 0;
    left: 0;
    color: rgb(0,0,0);
    opacity: 0; */
    animation-name: fadein;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    0% {
        /* アニメーション開始時の指定 */
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        /* アニメーション終了時の指定 */
        opacity: 1;
        transform: translateY(20px);
    }
}
